.image-column {
  display: none;
  height: 100%;
  width: fit-content;
  position: relative;
}

.image-column > img {
  border-radius: 3rem;
}

.image-column > .image-texts {
  position: absolute;
  left: 12rem;
  top: 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  background-color: #f0f0f080;
  border-radius: 1rem;
  backdrop-filter: blur(5px);
  height: fit-content;
  width: 90%;
}

.image-column .image-texts > .image-text-wrapper:nth-child(odd) {
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.image-column .image-texts > .image-text-wrapper:is(:first-child) {
  background-color: white;
}

.image-column .image-texts > .image-text-wrapper:nth-of-type(2) img {
  object-fit: fill;
}

.image-column .image-texts > .image-text-wrapper:last-child {
  grid-column: 1 / -1;
  gap: 2rem;
  padding-block: 1.5rem;
}

.image-column .image-texts > .image-text-wrapper:last-child .icon {
  background-color: white;
  border-radius: 1rem;
  padding: 14px;
  display: grid;
  place-items: center;
}

.image-column .image-texts > .image-text-wrapper {
  display: flex;
}

.image-column .image-texts > .image-text-wrapper:nth-child(odd),
.image-column .image-texts > .image-text-wrapper:is(:first-child),
.image-column .image-texts > .image-text-wrapper:nth-of-type(2),
.image-column .image-texts > .image-text-wrapper:nth-of-type(2) img {
  border-radius: inherit;
}

.image-column .image-texts > .image-text-wrapper:is(:first-child) h6,
.image-column .image-texts > .image-text-wrapper:last-child h6 {
  font-size: 1.5rem;
}

.image-column .image-texts > .image-text-wrapper:is(:first-child) h6 > span,
.image-column .image-texts > .image-text-wrapper:last-child h6 > span {
  display: block;
}

@media (min-width: 1024px) {
  .image-column {
    display: flex;
  }
}
