@import url("title-row.css");
@import url("pricing-row.css");

*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

main {
  background-color: #f0f0f0;
  height: max-content;
  padding: 1.5rem;
}

section {
  width: 100%;
  gap: 3rem;
}

.section-children {
  gap: 2.8rem;
}

/* ?? Shared properties */

main,
section,
.section-children {
  display: flex;
}

section,
.section-children {
  flex-direction: column;
}

@media (min-width: 640px) {
  main {
    padding: 2.8rem;
  }

  .section-children {
    gap: 2rem;
  }
}

@media (min-width: 768px) {
  main {
    padding: 4rem;
  }
}
