.title-row h3 {
  font-weight: 400;
  font-size: 0.875rem;
  border: 1px solid #ccc;
  border-radius: 2rem;
  width: fit-content;
  padding: 10px 18px;
}

.title-row .title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.title-row .title-wrapper h1 {
  font-size: 3rem;
  line-height: 1;
}

.title-row .title-wrapper p {
  width: 100%;
  color: #808080;
  font-size: 1rem;
  font-weight: 300;
}

/* ?? Shared properties */

.title-row .title-wrapper h1,
.title-row .title-wrapper p {
  text-align: center;
}

@media (min-width: 640px) {
  .title-row .title-wrapper {
    gap: 3rem;
  }

  .title-row .title-wrapper p {
    width: 70%;
    font-size: 1.25rem;
  }
}

@media (min-width: 768px) {
  .title-row .title-wrapper {
    flex-direction: row;
  }

  .title-row .title-wrapper h1 {
    font-size: 3.5rem;
    text-align: start;
    line-height: 1.2;
  }

  .title-row .title-wrapper p {
    width: 40%;
    text-align: end;
  }
}
