.login-details-column {
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  background: linear-gradient(to bottom, #232327 40%, #0b0b0d 100%);
  width: 50%;
  overflow: hidden;
}

.review-container {
  gap: 5rem;
}

/* ?? Review content indicator */
.review-bars {
  justify-content: space-between;
  gap: 2rem;
}

.review-bars > div {
  height: 10px;
  width: 100%;
  border-radius: 2rem;
  background-color: #303030;
}

.review-bars > div:nth-of-type(3) {
  background-color: white;
}

/* ?? Review content */

.review {
  gap: 1.5rem;
  color: #ebebeb;
}

.review > svg {
  width: 2.5rem;
}

.review > p {
  font-size: 1.5rem;
  font-weight: 600;
}

.review > .user-profile > .user {
  gap: 1rem;
}

.review > .user-profile > .user img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
}

.review > .user-profile > .user > .user-details h3 {
  margin-bottom: 4px;
}

/* ?? Landing page image */

.login-details-column > img {
  width: 100%;
  border-radius: 2rem;
  transform: translateY(4rem);
}

/* ?? Shared properties */

.review-container,
.review-container > div,
.review > .user-profile,
.review > .user-profile .user {
  display: flex;
}

.review-container,
.review {
  flex-direction: column;
}

.review > .user-profile,
.review > .user-profile > .user {
  justify-content: space-between;
  align-items: center;
}
