.title-row {
  text-align: center;
  gap: 1.5rem;
}

.title-row h3 {
  font-weight: 400;
  font-size: 0.875rem;
  border: 1px solid #ccc;
  border-radius: 2rem;
  padding: 10px 18px;
}

.title-row h1 {
  font-size: 3rem;
  line-height: 1;
}

.title-row p {
  width: 100%;
  color: #808080;
  font-size: 1rem;
  font-weight: 300;
}

@media (min-width: 640px) {
  .title-row p {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .title-row h1 {
    font-size: 3.5rem;
    line-height: 1.2;
  }

  .title-row p {
    width: 60%;
  }
}
